<!DOCTYPE html>

<html lang="ja">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>top</title>

    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">

    <!-- jQuery本体 CDN -->
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/common.js"></script>

  </head>

  <body>

    <header>

      <nav>
        <h1>Website Title</h1>
        <ul>
          <li class="active">Home</li>
          <li>About</li>
          <li>Contact Form</li>
        </ul>
        <div class="underline"></div>
      </nav>

      <div class="video">
        <video autoplay loop muted playsinline poster="/images/poster.png" src="/images/top.mp4"></video>
      </div>

    </header>


    <main id="m-index">

      <div class="contain">

        <div class="container">
          <a href="http://127.0.0.1:7860/" target="_blank" class="button type--C">
            <div class="button__line"></div>
            <div class="button__line"></div>
            <span class="button__text">ENTRY</span>
            <div class="button__drow1"></div>
            <div class="button__drow2"></div>
            </a>
        </div>

        <iframe
         src="http://localhost/chatbot/cHAprM1LxjskQFlO"
         style="width: 90%; height: 80%; min-height: 600px; border-radius: 20px; background-color: rgba(255,255,255,0.5);"
         frameborder="0"
         allow="microphone">
        </iframe>

      </div>
      

    </main>


    <footer id="footer">
      <div>
        2024 &copy; Copyright GotoSaki. All rights reserved.
      </div>
    </footer>

    <!-- js -->
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/common.js"></script>

  </body>

</html>