@charset "utf-8";

/* Googleフォント */
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Alfa+Slab+One|Audiowide|Bevan|Coiny|Poiret+One|Squada+One');


/* 共通のスタイル */
*{
  margin: 0;
  padding: 0;
}

body{
  text-align: center;
  background-color: rgb(238, 198, 215);
  background-color: rgb(232, 208, 218);
  overflow-x: hidden;
}

img{
  vertical-align: bottom;
}

video {
  /* iPhone safariの枠線を消す */
  filter: drop-shadow(0px 0px rgba(0,0,0,0));
  /* PCのChromeの枠線を消す */
  outline: none;
  border: none;
}

div#wrap{
/*  width: 1000px;*/
  margin: 0 auto 0 auto;
/*  padding: 0 30px 0 30px;*/
  box-sizing: border-box;/*paddingとboderを内側に収める*/
  background-color: #fff;
}



/* navigation */
nav {
  height: 80px;
  background-color: transparent;
  position: relative;
  width: 100vw;
  z-index: 100;
  clear: both;
  display: flex;
  justify-content: space-between;
}

nav ul {
  float: right;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 35px 0 3px 0;
  padding-right: 15px;
  cursor: pointer;
  color: #a0a0a0;
  transition: all 0.5s ease;
  font-size: large;
  font-weight: 600;
}
nav ul li:hover {
  color: #5f5b5e;
}
nav ul li:last-child {
  margin-right: 20px;
}
nav ul li.active {
  color: #5f5b5e;
}

.underline {
  position: absolute;
  background-color: #ceaee8;
  top: 55px;
  left: -5px;
  height: 4px;
  transition: all 0.5s ease;
}

.logo{
  width: 200px;
  height: 85px;
  padding: 15px 0 0 3px;
}


.video {
  /* position: relative; */
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;

  /* 下辺のみにぼかしを適用 */
  mask-image: linear-gradient(to bottom, black 93%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 93%, transparent 100%);
}


/* main */
#m-index{
  width: 100vw;
  height: 1000px;
  position: relative; 
}

.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 100px;
}


/* footer */
#footer{
  text-align: center;
  margin-top: 350px;
  font-size: 12px;
  height: 60px;
  background-color: #eee;
  border-top: 1px solid #ddd;
  padding-top: 10px;
  line-height: 20px;
}


/* main */
#m-index{
  width: 100vw;
  height: 1000px;
  position: relative;
}

.contain{
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}


.type--A {
  --line_color: #555555;
  --back_color: #ffecf6;
}
.type--B {
  --line_color: #1b1919;
  --back_color: #e9ecff;
}
.type--C {
  --line_color: #00135c;
  --back_color: #afbada;
}
.button {
  position: relative;
  z-index: 0;
  width: 240px;
  height: 56px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: var(--line_color);
  letter-spacing: 2px;
  transition: all 0.3s ease;
}
.button__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.button::before,
.button::after,
.button__text::before,
.button__text::after {
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 2px;
  background: var(--line_color);
  transition: all 0.5s ease;
}
.button::before {
  top: 0;
  left: 54px;
  width: calc(100% - 56px * 2 - 16px);
}
.button::after {
  top: 0;
  right: 54px;
  width: 8px;
}
.button__text::before {
  bottom: 0;
  right: 54px;
  width: calc(100% - 56px * 2 - 16px);
}
.button__text::after {
  bottom: 0;
  left: 54px;
  width: 8px;
}
.button__line {
  position: absolute;
  top: 0;
  width: 56px;
  height: 100%;
  overflow: hidden;
}
.button__line::before {
  content: "";
  position: absolute;
  top: 0;
  width: 150%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 300px;
  border: solid 3px var(--line_color);
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before {
  left: 0;
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before {
  right: 0;
}
.button:hover {
  letter-spacing: 6px;
}
.button:hover::before,
.button:hover .button__text::before {
  width: 8px;
}
.button:hover::after,
.button:hover .button__text::after {
  width: calc(100% - 56px * 2 - 16px);
}
.button__drow1,
.button__drow2 {
  position: absolute;
  z-index: -1;
  border-radius: 16px;
  transform-origin: 16px 16px;
}
.button__drow1 {
  top: -16px;
  left: 40px;
  width: 32px;
  height: 0;
  transform: rotate(30deg);
}
.button__drow2 {
  top: 44px;
  left: 77px;
  width: 32px;
  height: 0;
  transform: rotate(-127deg);
}
.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after {
  content: "";
  position: absolute;
}
.button__drow1::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-60deg);
}
.button__drow1::after {
  top: -10px;
  left: 45px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(69deg);
}
.button__drow2::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-146deg);
}
.button__drow2::after {
  bottom: 26px;
  left: -40px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-262deg);
}
.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after {
  background: var(--back_color);
}
.button:hover .button__drow1 {
  animation: drow1 ease-in 0.06s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow1::before {
  animation: drow2 linear 0.08s 0.06s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow1::after {
  animation: drow3 linear 0.03s 0.14s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow2 {
  animation: drow4 linear 0.06s 0.2s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow2::before {
  animation: drow3 linear 0.03s 0.26s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow2::after {
  animation: drow5 linear 0.06s 0.32s;
  animation-fill-mode: forwards;
}
@keyframes drow1 {
  0% {
    height: 0;
  }
  100% {
    height: 100px;
  }
}
@keyframes drow2 {
  0% {
    width: 0;
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  100% {
    width: 120px;
  }
}
@keyframes drow3 {
  0% {
    width: 0;
  }
  100% {
    width: 80px;
  }
}
@keyframes drow4 {
  0% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}
@keyframes drow5 {
  0% {
    width: 0;
  }
  100% {
    width: 124px;
  }
}

.container {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 350px;
  right: 300px;
}
.button:not(:last-child) {
  margin-bottom: 64px;
}

.custom-title{
  position: absolute;
  top: -120px;
  left: 120px;
}
.custom-title img{
  width: 400px;
}
.custom-frame{
  position: absolute;
  top: 140px;
  left: 280px;
  z-index: -1;
}
.custom-frame img{
  width: 400px;
  height: 400px;
}
.custom-frame3{
  position: absolute;
  top: 140px;
  left: 280px;
  z-index: -5;
}
.custom-frame3 img{
  width: 400px;
  height: 400px;
  filter: opacity(0.7);
}
.custom-frame2{
  position: absolute;
  top: -5px;
  right: 190px;
}
.custom-frame2 img{
  width: 290px;
  height: 290px;
}
.detail{
  position: absolute;
  top: 100px;
  right: 480px;
}
/* sample : Shadow */
.sample-4 {
	left: 8px;
	top: 8px;
	background: linear-gradient(-45deg, #CDC6FF 25%, #fff 25.1%, #fff 50%, #CDC6FF 50.1%, #CDC6FF 75%, #fff 75.1%, #fff 0);
	background-size: 4px 4px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: 'Abril Fatface';
}
.decorated {
	display: inline-block;
	position: relative;
	z-index: 1;
	margin: 0;
}
.decorated:before {
	content: attr(data-text);
	position: absolute;
	z-index: 2;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.decorated:after {
	content: attr(data-text);
	position: absolute;
	z-index: 3;
	-webkit-text-fill-color: transparent;
}
.sample-4 {
	left: 8px;
	top: 8px;
	background: linear-gradient(-45deg, #90a8d3 25%, #fff 25.1%, #fff 50%, #c6d5ff 50.1%, #c6d8ff 75%, #fff 75.1%, #fff 0);
	background-size: 4px 4px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: 'Abril Fatface';
  font-size: 42px;
}
.sample-4:before {
	left: -6px;
	top: -6px;
	-webkit-text-fill-color: #83a7de;
	-webkit-text-stroke: 1px #7d94dc;
}

.detail1{
  position: absolute;
  top: 230px;
  right: 340px;
  text-align: left;
  line-height: 45px;
}

.detail1 p{
  font-family: "Zen Maru Gothic", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  color: #d57e7e;
}

.ai{
  width: 60%; height: 70%; min-height: 600px; border-radius: 20px; background-color: rgba(255,255,255,0.5); 
  position: absolute;
  top: 300px;
  left: 200px;
}